.wrap-parallax {
	&:before {
		content: " ";
		display: block;
		background-image: url(../images/bg.png);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		opacity: 0.2;
	}
	&:after {
		content: " ";
		display: block;
		.gradient(0deg, rgba(4, 20, 30, 0.8), rgba(4, 20, 30, 0));
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}
	.parallax-bg {
		background-size: 100% auto;
		background-position: 50% 10%;
		height: 140%;
		left: 0;
		position: absolute;
		top: -70%;
	}
}
.parallax-block {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	.title-large {
		text-transform: none;
		margin: 58px 0 0 0;
	}
	h4 {
		font-weight: 500;
		margin: 13px 0 32px 0;
	}
	> .main-width {
		height: 100%;
		font-size: 0;
		padding-bottom: 108px;
		&:after {
			content: " ";
			display: inline-block;
			vertical-align: bottom;
			height: 100%;
		}
		> div {
			display: inline-block;
			vertical-align: bottom;
			font-size: 14px;
			width: 100%;
		}
	}
}
.main-content {
	background-image: url(../images/bg.jpg);
}
.bg-content {
	background: #fff;
}
.content-width {
	margin: auto;
	max-width: 810px;
	padding: 92px 15px 108px;
}
.content {
	font-size: 15px;
	h3 {
		margin: 10px 0 12px 0;
		line-height: 30px;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #f1932c;
	}
	p {
		line-height: 24px;
		margin: 0 0 24px;
	}
}

.bottom-content {
	background: #e1e3e6;
	position: relative;
	padding: 60px 0;
	h4 {
		color: #333333;
		margin-bottom: 16px;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
		> div {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.recent-events {
	width: 35.7143%;
	float: left;
	a {
		display: block;
		position: relative;
		text-decoration: none;
	}
	img {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
	}
}

.image-gallery {
	float: right;
	width: 35.7143%;
	a {
		display: block;
		text-decoration: none;
	}
	img {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
	}
}

.recent-news {
	float: left;
	width: 100 - 35.7143% - 35.7143%;;
}

.recent-news-block {
	background: #183a59;
	text-align: center;
	color: #fff;
	height: 0px;
	padding-top: 66.6666666%;
	position: relative;
	> div {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 0;
		height: 100%;
		width: 100%;
	}
	> div > div {
		display: inline-block;
		font-size: 14px;
		vertical-align: middle;
		padding: 0 22px;
		width: 100%;
	}
	> div:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	p {
		font-size: 16px;
		line-height: 22px;
	}
	.date {
		margin: 0 0 21px;
	}
	.line-bold {
		margin-bottom: 40px;
	}
	.line-bold::after {
		height: 2px;
	}
}

.text-img {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 30px 16px;
	h6 {
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		margin: 0 0 3px 0;
		text-transform: uppercase;
		color: #a6cc29;
	}
	p {
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
}
.button-top {
	background: url(../images/button-top.png);
	height: 42px;
	width: 210px;
	position: absolute;
	bottom: 100%;
	left: 50%;
	z-index: 2;
	margin-left: -105px;
	cursor: pointer;
}

@media (max-width: 1400px) {
	.wrap-parallax .parallax-bg {
		background-size: cover;
		background-position: 10% 10%;
	}
}
@media (max-width: 1100px) {

	.recent-news-block p {
		font-size: 14px;
	}
	.read-more {
		margin-top: 0;
	}
}
@media (max-width: 1000px) {
	.recent-news-block .date {
		margin-bottom: 10px;
	}
	.recent-news-block .line-bold {
		margin-bottom: 16px;
	}
}
@media (max-width: 915px) {
	.recent-news-block p {
		margin-bottom: 0;
		font-size: 12px;
	}
}
@media (max-width: 800px) {
	.text-img {
		padding: 0 15px 15px;
	}
}
@media (max-width: 767px) {
	.wrap-parallax {
		height: auto !important;
	}
	.parallax-block  {
		position: relative !important;
	}
	.parallax-block > .main-width {
		padding: 40px 20px 20px;
	}
	.content-width {
		padding: 40px 15px 20px;
	}
	.recent-news {
		margin-top: 20px;
		width: 100%;
	}
	.image-gallery, .recent-events {
		width: 50%;
	}
	.recent-news-block {
		height: auto;
		padding: 0;
	}
	.recent-news-block > div {
		position: static;
		padding: 20px 0;
	}
	.bottom-content {
		padding: 30px 0;
	}
}
@media (max-width: 600px) {
	.text-img {
		padding: 0 5px 5px;
	}
}
@media (max-width: 500px) {
	.recent-events {
		width: 100%;
	}
	.image-gallery {
		width: 100%;
		margin-top: 20px;
	}
}

.main-width2 {
	margin: auto;
    max-width: 1292px;
    padding: 0 15px;
}

.content-width2 {
	padding:  82px 15px 0;
	max-width: 1070px;
	margin: auto;
}
.row10 {
	margin-left: -10px;
	margin-right: -10px;
	> * {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row20 {
	margin-left: -20px;
	margin-right: -20px;
	> * {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.related-links {
	padding: 10px;
	background: #eeeeee;
}
.related-links-title {
	background: #005387;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px 5px 0 0;
	position: relative;
	padding:  20px 25px 16px 45px;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 27px;
		left: 15px;
		background-image: url(../images/related-links.jpg);
		height: 16px;
		width: 16px;
	}

}
.nav-related-links {
	background: #ffffff;
	padding: 0 10px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	> ul > li {
		background-image: url(../images/arrow.jpg);
		background-repeat: no-repeat;
		background-position: 97% 30px;
		border-bottom: 1px solid #eaeaea;
		font-size: 16px;
		font-weight: 600;
		color: #cccccc;
		> a {
			color: inherit;
			display: block;
			padding: 22px 10px;
			text-decoration: none;
		}
		&.active {
			color: #a6cc29;
			ul {
				display: block;
			}
		}
		ul {
			font-size: 14px;
			color: #7a7a7a;
			border-top: 1px solid #eaeaea;
			padding: 22px 9px;
			display: none;
			a {
				color: inherit;
				display: block;
				line-height: 26px;
				text-decoration: none;
			}
			.active {
				color: #a6cc29;
			}
		}
		a:hover {
			color: #a6cc29;
		}
	}
	a {
		outline: none;
	}
}

@media (max-width: 767px) {
	.content-width2 {
		padding-top: 20px;
	}
	.related-links {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 20px;
	}
}

.calendar-one-block {
	position: relative;
	background: #f8f8f8;
	border: 1px solid #dfd9d9;
	color: #2b2a2f;
	padding: 0 20px;
	&:after {
		background: #f1932c;
		width: 6px;
		height: 60px;
		content: " ";
		display: block;
		position: absolute;
		top: 19px;
		left: 0;
	}
}
.day-calendar {
	font-size: 14px;
	font-weight: 700;
	margin: 15px 0 -8px 0;
}
.month-calendar {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: -17px;
}
.year-calendar {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 13px;
}
.town-calendar {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 9px;
}
.title-calendar {
	background: #4e4e4e;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: normal;
	min-height: 62px;
	margin: 0 -21px 14px;
	padding: 12px 20px;
}
.img-marker {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	margin-right: 4px;
	height: 22px;
	background-image: url(../images/marker.jpg);
}
.wrap-plus {
	top: 16px;
	right: 0;
	background: #f1932c;
	position: absolute;
	height: 50px;
	width: 50px;
	&:before {
		content: " ";
		height: 16px;
		width: 4px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -8px;
		background: #fff;
		margin-left: -2px;
	}
	&:after {
		content: " ";
		width: 16px;
		background: #fff;
		height: 4px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -8px;
		margin-top: -2px;
	}
	&:hover {
		background: #4e4e4e;
	}
}



.calendar-wrap {
	max-width: 960px;
	margin-top: 50px;
}
@media (max-width: 767px) {
	.calendar-wrap {
		margin-top: 20px;
	}
	.calendar-one-block {
		margin: 20px 0;
	}
}